# ===============================
# DATASET
# ===============================
data/Images/
data/Images/*

# ===============================
# LARGE FEATURE FILES
# ===============================
features_attention.pkl
*.pkl

# ===============================
# MODEL WEIGHTS
# ===============================
*.h5
*.pth
*.pt
*.ckpt

# ===============================
# JUPYTER
# ===============================
.ipynb_checkpoints/

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# SYSTEM FILES
# ===============================
.DS_Store
Thumbs.db
